<launch>

<node pkg="surgical_robot" name="serial" type="serial_node" args="$(arg baudrate) $(arg port)" />

<node pkg="surgical_robot" name="openloop" type="openloop" />

<node pkg="surgical_robot" type="timed_roslaunch.sh" args="1 surgical_robot delayed.launch looprate:=10" name="joystick" output="screen" />

</launch>