<launch>

<node pkg="surgical_robot" name="serial" type="serial_node" args="$(arg baudrate) $(arg port)" />

<node pkg="timed_roslaunch" type="timed_roslaunch.sh" args="surgical_robot openloop" name="openloop" output="screen" />

<node pkg="surgical_robot" name="joystick" type="joystick" args="$(arg looprate)" />

</launch>